package components

templ LinkButton(hrev string) {
    @LinkButtonStyle()
    <a class="link-button" href={templ.SafeURL(hrev)}>{ children... }</a>
}

templ LinkButtonStyle() {
    <style>
        .link-button {
            padding: 15px 20px;
            background-color: #309689;
            color: #FFFFFF; 
            text-decoration: none;
            border-radius: 8px;
        }

        .link-button:hover {
            background-color: #1c786b;
        }
    </style>
}