package components

templ NewsTitle(title string) {
    @NewsTitleStyle()
    <h1 class="title">{title}</h1>
}

templ NewsTitleStyle() {
    <style>
        .title{
            font-weight: bold;
            margin-bottom: 12px;
            margin-top: 0 ;
            color: #5ebb8d;
            font-size: 20px ;
        }
    </style>
}