package views

import (

"dl/new-web-site/views/layout"
"dl/new-web-site/views/components"
)


templ Main() {
    <main>
        @layout.Header() {
            @components.NewsTitle("Новости")
            @components.CategorTitle("Категории")
            @components.ContactTitle("Контакты")
        }
        @components.Categories()
        @components.NewsBannerContainer() 
        @components.Info()
    </main>
}
