package components

templ ContactTitle(text string) {
    @ContactTitleStyle()
    <h1 class="sub-title">{text}</h1>
}

templ ContactTitleStyle() {
    <style>
        .sub-title{
            font-weight: bold;
            margin-bottom: 12px;
            margin-top: 0 ;
            color: #5ebb8d;
            font-size: 20px ;
        }
    </style>
}