package layout

import "dl/new-web-site/views/components"

templ Menu() {
    @MenuStyle()
    <div class="menu_right">
        @components.EnterButton("/login") {
            <span>Войти</span>
        }
        @components.LinkButton("/register") {
            <span>Зарегистрироваться</span>
        }
    </div>
}


templ MenuStyle() {
    <style>
        .menu_right {
            display: flex;
            gap: 20px;
            align-items: center;
        }
    </style>
}